meta(name="description", content=description)
link(rel="profile", href="http://gmpg.org/xfn/11")
link(rel="pingback")
// Meta verification
//- Google
meta(name="google-site-verification", content="VhfbPndGW-UftEvWql2Nwt7F1F5KBgd3lMcGgjn4Ovc")
//- Bing
meta(name="msvalidate.01", content="F7679394C660249FBA58732D6100A65A")
//- Yandex
meta(name="yandex-verification", content="bc82adfacdd74cbf")
//- Feeds
link(rel="alternate", type="application/rss+xml", title="DEMO SITE", href='//'+"demo-site.com"+"/feed.xml")
// Meta Tag
meta(name="generator", content="DEMO SITE")
meta(name='robots', content='noodp')
meta(name='keywords', content="Quốc Trung, Front-end, Build-gulp")
link(rel='dns-prefetch', href='http://maps.googleapis.com/')
link(rel='dns-prefetch', href='http://s.w.org/')
meta(name='apple-itunes-app', content='app-id'+"XXX-XXX-XXX-XXXX")
// SEO MAP
meta(name='DC.title', content="Testing Design Build-Gulp")
meta(name='geo.region', content="EN")
meta(name='geo.placename', content="DEMO SITE")
meta(name='geo.position', content="36.204824"+';'+"138.252924")
meta(name='ICBM', content="36.204824"+','+"138.252924")
// SEO
meta(name='author', content="DEMO SITE")
link(rel='canonical', href='//'+"demo-site.com"+href)
// Social: Twitter
meta(name='twitter:card', content=title+' - '+ "DEMO SITE")
meta(name='twitter:site', content="demo-site.com")
meta(name='twitter:creator', content='@'+"Quốc Trung"+'')
meta(name='twitter:title', content=title+' - '+ "DEMO SITE")
meta(name='twitter:description', content=description)
meta(name='twitter:image:src', content='//'+ "demo-site.com" + '/images/logo.png')
// Social: Facebook / Open Graph
meta(property='fb:admins', content="XXXXXXX,XXXXXXX")
meta(property='fb:app_id', content="XXXXXXX,XXXXXXX")
meta(property="og:type", content="website")
meta(property='og:url', content='//'+"demo-site.com"+href)
meta(property='og:title', content=title+'- '+ "DEMO SITE")
meta(property='og:image', content='//'+ "demo-site.com" + '/images/logo.png')
meta(property='og:description', content=description)
meta(property='og:site_name', content="DEMO SITE")
meta(property='article:author', content='//www.facebook.com/' + 'quoctrung')
meta(property='article:publisher', content='//www.facebook.com/' + 'quoctrung')
// Social: Google / Schema.org
link(rel='author', href='//plus.google.com/'+ "XXXXXXXXXXXXXX"+'/')
link(rel='publisher', href='//plus.google.com/'+ "XXXXXXXXXXXXXX"+'/')
meta(itemprop='name', content=title+'- '+ "DEMO SITE")
meta(itemprop='description', content=description)
meta(itemprop='image', content='//'+ "demo-site.com" + '/images/logo.png')
// Meta Tag Search
//- link(rel='search', type='application/opensearchdescription+xml', title="DEMO SITE", href='/'+config.SEO.cfg_url+'/SearchEngineInfo.xml')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-title', content=title+'- '+ "DEMO SITE")
// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
	script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
	script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
